@model BE_blog_BTLLTWeb.Models.Account
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@{
	var isExist = "";
	var messDis = "";
	if (ViewBag.isExist == null)
	{
		messDis = "";
		isExist = "d-none";
	}
	else
	{
		isExist = "";
		messDis = "d-block";
	}
}

<div class="custom-layout">
	<!-- end error -->
	<div class="login">
		<div class="header__logo-custom">
			<a class="site-logo" href="index.html">
				<img class="img-logo" src="../images/logo-black.png"
					 alt="Homepage" />
			</a>

			@using (@Html.BeginForm("Login", "Auth", FormMethod.Post))
			{
				@Html.ValidationSummary(false, "", new { @class = "text-danger" })

					<div>
						<label for="accountInput-login">Your account</label>
						@Html.TextBoxFor(m => m.UserName,new {id="accountInput-login", placeholder = "UserName", @class = "full-width account-error",type="Text" })
						<div class="account_required @messDis">
							<ul>
							<li class="username"><span></span>This field isn't empty</li>
							<li class="username @isExist"><span>PassWord or Account is wrong !</span></li>
							</ul>
						</div>


					</div>

					<div>
						<label for="passwordInput-login">Your password</label>
						@Html.TextBoxFor(m => m.Pass,new {id="passwordInput-login", placeholder = "Password", @class = "full-width pass-error",type="PassWord" })
						<div class="password_required">
							<ul>
								<li class="empty"><span></span>This field isn't empty</li>
								<li class="Lowercase"><span></span>One Lowercase Letter</li>
								<li class="Captital"><span></span>One Captital Letter</li>
								<li class="Number"><span></span>One Number</li>
								<li class="Special"><span></span>One Special Character</li>
								<li class="eight_ch"><span></span>At Least 8 Characters</li>
							</ul>
						</div>
					</div>

					<label class="add-bottom">
						<input type="checkbox" class="shadow" style="width:19px ; height:19px" />
						<span class="label-text">Remember me</span>
					</label>

					<input class="btn--primary full-width btn-login"
					   type="submit"
					   value="Submit" />

					<div class="Oug9xv Z8OMtU">Are you new to typerite?   <a class="wzgwUg" asp-controller="Auth" asp-action="Register">Register</a></div>
			}
			@{
				Html.EndForm();
			}
		</div>
	</div>
</div>



@section Login{
	<script src="../js/customjs.js"></script>
}
			

