
@{
    ViewData["Title"] = "DetailPost";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}


@model BE_blog_BTLLTWeb.ViewModels.DetailBlogViewModel
<!-- site content
		================================================== -->
<div class="s-content content">
	<main class="row content__page">
		<article class="column large-full entry format-standard">
			<div class="media-wrap entry__media">
				<div class="entry__post-thumb">
					<img style="height: 100%"
						 src="@Model.Image"
						 alt="" />
				</div>
			</div>

			<div class="content__page-header entry__header">
				<h1 class="display-1 entry__title">
					@Model.Title
				</h1>
				<ul class="entry__header-meta">
					<li class="author">By <a href="#0">@Model.Author</a></li>
					<li class="date">@Model.CreateTime</li>
				</ul>
			</div>
			<!-- end entry__header -->

			<div class="entry__content">
				
			</div>
			<p class="entry__tags">
				<span>Post Tags</span>

				<span class="entry__tag-list">
					@foreach(string cate in Model.NameCategory)
					{
					<a href="#">@cate</a>
					}
				</span>
			</p>
			<!-- end entry content -->

			<div class="entry__pagenav">
				<div class="entry__nav">
					<div class="entry__prev">
						<a href="#0" rel="prev">
							<span>Previous Post</span>
							Tips on Minimalist Design
						</a>
					</div>
					<div class="entry__next">
						<a href="#0" rel="next">
							<span>Next Post</span>
							Less Is More
						</a>
					</div>
				</div>
			</div>
			<!-- end entry__pagenav -->

			<div class="entry__related">
				<h3 class="h2">Related Articles</h3>

				<ul class="related">
					<li class="related__item">
						<a href="single-standard.html" class="related__link">
							<img src="../images/thumbs/masonry/walk-600.jpg" alt="" />
						</a>
						<h5 class="related__post-title">
							Using Repetition and Patterns in Photography.
						</h5>
					</li>
					<li class="related__item">
						<a href="single-standard.html" class="related__link">
							<img src="../images/thumbs/masonry/dew-600.jpg" alt="" />
						</a>
						<h5 class="related__post-title">
							Health Benefits Of Morning Dew.
						</h5>
					</li>
					<li class="related__item">
						<a href="single-standard.html" class="related__link">
							<img src="../images/thumbs/masonry/rucksack-600.jpg" alt="" />
						</a>
						<h5 class="related__post-title">
							The Art Of Visual Storytelling.
						</h5>
					</li>
				</ul>
			</div>
			<!-- end entry related -->
		</article>
		<!-- end column large-full entry-->

		<div class="comments-wrap" style="width:100%">
			<div id="comments" class="column large-12">
				<h3 class="h2">5 Comments</h3>

				<!-- START commentlist -->
				<ol class="commentlist">
					
					<!-- end comment level 1 -->
				</ol>
				<!-- END commentlist -->
			</div>
			<!-- end comments -->

			<div class="column large-12 comment-respond">
				<!-- START respond -->
				<div id="respond">
					<h3 class="respond__info h2">
						<img class="avatar"
							 src="@TempData["avatar"]"
							 alt=""
							 width="50"
							 height="50" />
						<div class="comment__author">@TempData["fullname"]</div>
					</h3>

					<form name="contactForm"
						  id="contactForm"
						  method="post"
						  action=""
						  autocomplete="off">
						<fieldset>
							<div class="message form-field">
								<textarea name="cMessage"
										  id="cMessage"
										  class="full-width"
										  placeholder="Your Message"></textarea>
							</div>

							<input name="submit"
								   id="submit"
								   class="btn btn--primary btn-wide btn--large full-width"
								   value="Add Comment"
								   type="submit" />
						</fieldset>
					</form>
					<!-- end form -->
				</div>
				<!-- END respond-->
			</div>
			<!-- end comment-respond -->
		</div>
		<!-- end comments-wrap -->
	</main>
</div>
<!-- end s-content -->
@section renderContent{
	<script>
		$(".entry__content").append('@Html.Raw(@Model.Content.ToString())')

	</script>
	<script>
			let strComment = "";
			$.ajax({
				url: "/Post/ListComment?idPost=@Model.Blog.IdBlog",
				type: "GET",
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {
					data.lst.forEach(e=>{
					
		strComment += `<li class="depth-1 comment">
								<div class="comment__avatar">
									<img class="avatar"
										 src="${e.avatar}"
										 alt=""
										 width="50"
										 height="50" />
								</div>

								<div class="comment__content">
									<div class="comment__info">
										<div class="comment__author">${e.fullname}</div>

										<div class="comment__meta">
											<div class="comment__time">${e.createAt}</div>
											<div class="comment__reply">
												<a class="comment-reply-link" href="#0">
															${e.isYourComment}
												</a>
											</div>
										</div>
									</div>

									<div class="comment__text">
										<p>
											${e.content}
										</p>
									</div>
								</div>
							</li>
		`
					})
					$(".commentlist").append(strComment)
				},
				error: function () {
					alert("err");
				},
			});
		</script>
}