
@{
    ViewData["Title"] = "YourPost";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@model List<Blog>
@{
	var isDelete = false;
}
<!-- end s-header -->

<div class="s-content">
	<header class="listing-header">
		<h1 class="h2">Typerite: Your Post</h1>
	</header>

	<div class="search__ypost">
		<form>
			<div class="search__ypost-field">
				<label for="nameypost">Search name post</label>
				<input class="full-width"
					   id="nameypost"
					   type="text"
					   name="name" />
			</div>

			<div class="search__ypost-field">
				<label for="dateypost">Search date post</label>
				<input class="full-width"
					   type="text"
					   id="rangeDate"
					   placeholder="Please select Date Range"
					   data-input
					   name="dateypost" />
			</div>

			<button class="btn" type="search">Search</button>
		</form>
	</div>

	<h3>List Your Post</h3>
	<div class="box-list">
		<ul class="list__ypost">
			<li class="list__ypost-item">
				<a class="list__ypost-link" href="#">
					<div class="list__ypost-info-left">
						<img class="list__ypost-img"
							 src="images/thumbs/single/standard/standard-2000.jpg"
							 alt="" />

						<h3 class="list__ypost-title">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit.
							Quas consequuntur, id culpa esse molestias ab suscipit ipsam
							tempore corrupti iste quae ea sequi, exercitationem ratione
							quis magni nostrum pariatur rerum!
						</h3>
					</div>

					<div class="list__ypost-info-right">
						<span class="list__ypost-status">Đang chờ duyệt</span>
						<span class="list__ypost-date">Apr 29, 2019</span>
					</div>
				</a>
			</li>


			@foreach(var item in Model)
			{
				<li class="list__ypost-item">
					<a class="list__ypost-link" asp-action="DetailPost" asp-controller="Post" asp-route-idBlog="@item.IdBlog">
						<div class="list__ypost-info-left">
							<img class="list__ypost-img"
							 src="@item.ImageTitle"
							 alt="" />

							<h3 class="list__ypost-title">
								@item.Title
							</h3>
						</div>

						<div class="list__ypost-info-right">
							<span class="list__ypost-status">@{
									var notifi = "";
									switch (item.Status)
									{
										case 1:
											isDelete = true;
											notifi = "Đang chờ duyệt";
											break;
										case 2:
											isDelete = true;
											notifi = "Đã duyệt thành công";
											break;
										case 3:
											isDelete = false;
											notifi = "Bài viết đã từ chối";
											break;
									}
									@notifi
								}</span>
							<span class="list__ypost-date">@item.CreateAt.Date.ToString("MMM dd, yyyy")</span>
						</div>
					</a>
					@if (isDelete)
					{
						<span class="btn-delete" idBlog="@item.IdBlog" idUser="@item.IdAccount">
							<i class="fas fa-times"></i>
						</span>
					}
				</li>
				
			}
		</ul>
	</div>

	<div class="row">
		<div class="column large-full">
			<nav class="pgn">
				<ul>
					<li><a class="pgn__prev" href="#0">Prev</a></li>
					<li><a class="pgn__num" href="#0">1</a></li>
					<li><span class="pgn__num current">2</span></li>
					<li><a class="pgn__num" href="#0">3</a></li>
					<li><a class="pgn__num" href="#0">4</a></li>
					<li><a class="pgn__num" href="#0">5</a></li>
					<li><span class="pgn__num dots">…</span></li>
					<li><a class="pgn__num" href="#0">8</a></li>
					<li><a class="pgn__next" href="#0">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>

@section deleteYourPost{
	<script>
		$(".btn-yes").on("click", (e) => {
			let idBlog = $(".btn-delete").attr("idBlog");
			let idUser = $(".btn-delete").attr("idUser");

			const link = document.createElement("a");
			link.href = `/Post/DeletePost?idBlog=${idBlog}&idUser=${idUser}`
			link.click();
		});

		$(".btn-no").on("click", (e) => {
			$(".messages-popup").css("display", "none");
		});
		$(".btn-delete").on("click", (e) => {
			$(".messages-popup").css("display", "block");
		});
	</script>
}
<!-- end s-content -->
