
@{
    ViewData["Title"] = "YourPost";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Blog>
@{
	var isDelete = false;
}
<!-- end s-header -->

<div class="s-content">
	<header class="listing-header">
		<h1 class="h2">Typerite: Your Post</h1>
	</header>

	<div class="search__ypost">
		<form asp-action="YourPost" asp-controller="Post" method="get">
			<div class="search__ypost-field">
				<label for="nameypost">Search name post</label>
				<input class="full-width"
					   id="nameypost"
					   type="text"
					   name="name" />
			</div>

			<div class="search__ypost-field">
				<label for="dateypost">Search date post</label>
				<input class="full-width"
					   type="text"
					   id="rangeDate"
					   placeholder="Please select Date Range"
					   data-input
					   name="date" />
			</div>

			<button class="btn" type="search">Search</button>
		</form>
	</div>

	<h3>List Your Post</h3>
	<div class="box-list">
		<ul class="list__ypost">
			@foreach(var item in Model)
			{
				<li class="list__ypost-item">
					<a class="list__ypost-link" asp-action="DetailPost" asp-controller="Post" asp-route-idBlog="@item.IdBlog">
						<div class="list__ypost-info-left">
							<img class="list__ypost-img"
							 src="@item.ImageTitle"
							 alt="" />

							<h3 class="list__ypost-title">
								@item.Title
							</h3>
						</div>

						<div class="list__ypost-info-right">
							<span class="list__ypost-status">@{
									var notifi = "";
									switch (item.Status)
									{
										case 1:
											isDelete = true;
											notifi = "Đang chờ duyệt";
											break;
										case 2:
											isDelete = true;
											notifi = "Đã duyệt thành công";
											break;
										case 3:
											isDelete = false;
											notifi = "Bài viết đã từ chối";
											break;
									}
									@notifi
								}</span>
							<span class="list__ypost-date">@item.CreateAt.Date.ToString("MMM dd, yyyy")</span>
						</div>
					</a>
					@if (isDelete)
					{
						<span class="btn-delete" idBlog="@item.IdBlog" idUser="@item.IdAccount">
							<i class="fas fa-times"></i>
						</span>
					}
				</li>
				
			}
		</ul>
	</div>

	<div class="row">
		<div class="column large-full">
			<nav class="pgn">
				<ul>
					@if (Model.HasPreviousPage)
					{
						<li><a class="pgn__prev" href="@Url.Action("YourPost", new { page = Model.PageNumber - 1,ViewBag.name,ViewBag.date })">Previous</a></li>
					}


					@{
						bool displayDots = true;
					}

					@for (int i = 1; i <= Model.PageCount; i++)
					{
						if ((i >= Model.PageNumber - 2 && i <= Model.PageNumber + 2) || i == 1 || i == Model.PageCount)
						{
							if (i == Model.PageNumber)
							{
								<li><span class="pgn__num current">@i</span></li>
							}
							else
							{
								<li><a class="pgn__num" href="@Url.Action("YourPost", new { page = i,ViewBag.name,ViewBag.date })">@i</a></li>
							}

							displayDots = true; // Reset flag when a valid page is found
						}
						else if (displayDots)
						{
							<li><span class="pgn__num dots">...</span></li>
							displayDots = false; // Set flag to prevent multiple dots
						}
					}

					@if (Model.HasNextPage)
					{
						<li><a class="pgn__next" href="@Url.Action("YourPost", new { page = Model.PageNumber + 1,ViewBag.name,ViewBag.date})">Next</a></li>
					}
				</ul>
			</nav>
		</div>
	</div>
</div>

@section deleteYourPost{
	<script>
		let idBlog;
		let idUser;
		$(".btn-yes").on("click", (e) => {
			const link = document.createElement("a");
			link.href = `/Post/DeletePost?idBlog=${idBlog}&idUser=${idUser}`
			console.log(link.href)
			link.click();
		});

		$(".btn-no").on("click", (e) => {
			$(".messages-popup").css("display", "none");
		});
		$(".btn-delete").on("click", function(e){
			idBlog = $(this).attr("idBlog");
			idUser = $(this).attr("idUser");
			$(".messages-popup").css("display", "block");
		});
	</script>
}
<!-- end s-content -->
